#resultado{
    font-style: italic;
    text-align: center;
    font-size: 25px;
    margin-left: 250px;
    width: 800px;
}
#resultado2{
    font-style: italic;
    text-align: center;
    font-size: 25px;
    margin-left: 250px;
    width: 800px;
}